* {
  
  padding: 0;
  box-sizing: border-box;
  
}

html,
body {
  color: rgb(1, 1, 1);
  background-color: #3EC1D3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #FF165D;
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px 0;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #F6F7D7;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}